<!doctype html>
<html lang="en">
    <head>
        <title>{{brand}} - {{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {{#global.styles}}
            <link rel="stylesheet" type="text/css" href="{{.}}" media="screen" />
        {{/global.styles}}

    </head>
    <body>

        {{>view}}

        {{#global.scripts}}
            <script src="{{.}}"></script>
        {{/global.scripts}}

        {{#scripts}}
            <script src="{{.}}"0></script>
        {{/scripts}}

        {{! shared (pre-compiled) tempaltes }}
        <script>
            var templates = {};
            {{#templates}}
            templates['{{key}}'] = new Hogan.Template({{{content}}});
            {{/templates}}
        </script>

    </body>
</html>